h1.page-title {
	margin-bottom: 20px;
}

td span.label {
	cursor: pointer;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle !important;
}

.panel-body img {
	
}

li.list-group-item {
	position: relative;
}

li.list-group-item button {
	position: absolute;
	top: 25px;
	right: 10px;
}
li.list-group-item p.task {
	color: #2E64FE;
	margin-bottom: 2px !important;
}

li.list-group-item span.author{
	font-size: 13px;
	font-style: italic;
	color: #585858;
}

.post-form {
	display: block !important;
	margin-bottom: 10px !important;
}
textarea.form-control {
    width: 500px;
}
.list-post-home {
	display: inline-block !important;
}

.boder-post {
	border: 1px solid #ccc;
	margin-bottom: 16px;
}

.title-email {
	color: #2E64FE;
}

#target {
	width : 300px;
	height: 200px;
}

.content-post {
	height: 80px !important;
}
.mr-top-10 {
	margin: 10px;
	border: 1px solid rebeccapurple;
	padding: 5px;
}
.card-img-top  {
	width: 300px;
}
.width-400 {
	width: 525px;
}
.email-post-data {
	font-size: 20px !important;
	color: blue !important;
	text-transform: capitalize !important;
}
.boder-post > span {
	font-size: 20px;
    margin-left: 20px;
    text-transform: capitalize;
    color: blue;
}	
.card-body > h4 {
	color: blue;
    text-transform: capitalize;
}
.card-body > h5 {
    text-transform: capitalize;
}
.card-title {
	font-size: 22px;
}

.item-email-comment {
	font-size: 16px;
    margin-left: 20px;
    text-transform: capitalize;
    color: blue;
}

.comment-content  {
	margin-left:20px;
	font-size: 20px;
	text-transform: capitalize;
}

.time-post {
	margin-left:20px;
	font-size: 12px;
}

.form-input-detail {
	margin-left : 10px;
}
.name {
	text-transform: capitalize;
	display:inline-block;
	margin-left: 10px;
}
.title-name {
	display: inline-block;
	
}
